:root{
    --blue: rgb(0, 0, 212); 
    --pink: rgb(248, 46, 171);
    --red: rgb(255, 0, 0);
    --lightBlue: rgb(140, 140, 255);
    --lightPink: rgb(255, 140, 205);
    --lightRed: rgb(255, 140, 117);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
/*                         container                         */
#container {
    display: flex;
    justify-content: center;
    width: 100%; 
}
/*                         container_h2                         */
#main_h2{
    padding: 10px 0;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
/*                         container_cards                         */
#cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    height: 300px;
    width: 220px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid rgb(190, 188, 188);
}
/*                         container_logo_img                         */
.icon1{
    border-color:var(--blue);
}
.icon2{
    border-color: var(--pink);
}
.icon3{
    border-color: var(--blue)
}
.icon4{
    border-color: var(--red);
}
.hd_face {
    color: var(--blue);
}
.hd_insta {
    color: var(--pink);
}
.hd_twit {
    color: var(--blue);
}
.hd_yotu {
    color: var(--red);
}
picture{
    display: flex;
    justify-content: center;
}
picture img{
    border-radius: 3px;
    margin-top: 25px;
    width: 60px;
    padding: 8px;
    border: 2px solid;
}
/*                         container_text_desc                         */
.desc {
   text-align: center;
}
.header{
    margin: 20px 0;
    padding: 10px;
}
.desc p{
    font-size: 18px;
}
/*                         hover_cards                         */
.card-1:hover{
    box-shadow: 0 0 15px var(--lightBlue);
}
.card-2:hover{
    box-shadow: 0 0 15px var(--lightPink);
}
.card-3:hover{
    box-shadow: 0 0 15px var(--lightBlue);
}
.card-4:hover{
    box-shadow: 0 0 15px var(--lightRed);
}
/*                         media_768px                         */
@media only screen and (min-width:768px){
    #cards{
        display: grid;
        column-gap: 15px;
        grid-template-columns: auto auto;
    }
}
/*                         media_1024px                         */
@media only screen and (min-width:1024px){
    body{
        overflow: hidden;
        height: 100vh;
    }
    #cards{
        display: flex;
        flex-direction: row;
    }
}
/*                         media_1440px                         */
@media only screen and (min-width:1440px){
    body{
        scale: 1.1;
    }
}
